header {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 00px 80px;
  background-color: rgba(0, 0, 0, 0.376);
}
.menu > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  transition: color 0.5s;
}
.menu a:hover {
  color: white;
}
.dropdown-menu > li:hover > a {
  color: #c61010;
}
.dropdown-menu > li:hover .dropdown-submenu {
  display: flex;
}
.dropdown-submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  /*gap: 8px;*/
  list-style: none;
  width: 150px;
  height: 171px;
  background-color: rgba(0, 0, 0, 0.685);
}
.dropdown-submenu a {
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 15px;
}
.dropdown-submenu li:hover {
  background-color: red;
}

.subtitulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rufina", serif;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
