main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 80px;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  display: flex;
}
.subtitulo {
  position: absolute;
  width: 500px;
  justify-content: center;
  top: 209px;
  font-size: 20px;
  line-height: 0px;
  text-align: center;
  align-items: center;
}

.container-texto {
  position: absolute;
  padding: 0px 0px;
  width: 680px;
  height: 20px;
  left: 10px;
  top: 100px;
  font-family: Open Sans;
  font-size: 36px;
  line-height: 49px;

  color: #ffffff;
}
.container-sobre {
  position: absolute;
  width: 187px;
  height: 32px;
  left: 300px;
  top: 353px;
  font-family: Petrona;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;
  color: #ffffff;
}
