main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 80px;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  display: flex;
}

.subtitulo {
  position: absolute;
  width: 500px;
  height: 40px;
  top: 150px;
  left: 407px;
  text-align: center;
  font-size: 34px;
  line-height: 30px;
}

.container-texto {
  position: absolute;
  color: #ffffff;
  position: absolute;
  width: 680px;
  height: 390px;
  left: 71px;
  top: 30%;
  font-family: Open Sans;
  font-size: 36px;
  line-height: 49px;
}

.container-texto b {

}

.container-sobre {}